[submodule "third_party/masstree"]
	path = third_party/masstree
	url = https://github.com/thawk105/masstree-beta.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
