[submodule "third_party/masstree"]
	path = third_party/masstree
	url = git@github.com:thawk105/masstree-beta.git
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = git@github.com:thawk105/mimalloc.git
